/*font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.des{
	font-weight: 600px;
	font-style: italic;
	color: orange;
}
.par{
	font-weight: 500px;
	color: white;
	margin-bottom: 50px;
}
.form-box{
	width: 500px;
	
margin: 50px 200px 100px 70px;
border-radius: 8px;
background: linear-gradient(to left, rgb(172 211 79 / 79%), plum);

}
form input::placeholder{
	color: black;
}
form input:focus{
	outline: none;
	border-color: red;
}
form{
	padding: 32px;
}
.tag{
	text-align: left;
	text-shadow: 2px 2px 5px yellow;
	margin: 35px;
	font-style: italic;
	color: powderblue;
}
.btn{
	display: inline-block !important;
	box-shadow: 0px 5px 7px 3px grey;
	padding: 12px 10px 12px 10px;
	background: powderblue;
	color: black;
	text-align: center;
	border: none;
}
.ypp{
	display: flex;
	justify-content: space-between;
}
.yp1{
	margin-right: 35px;
	margin-top: 25px
}
.yp1 ul li{
list-style: none;
color: white;

}
.yp1 ul li i:hover{
transition: 0.3s;
	transform: rotate(45deg);
	}
body{
	background-image: url(../css/yo1.jpg);
	background-repeat: no repeat;
	background-attachment: fixed;
	background-size: cover;
}
form input{
	display: block;
	padding: 9px;
	width: 93%;
	margin: 10px 10px 10px 10px;
	background: transparent;
	
	color: blue;
	border: none;
	border-bottom: 1px solid grey;
}
.logo{
	padding: 32px 0px 0px 49px;
}
.logo h1{
	color: white;

}
.banner{
	
text-shadow: 2px 2px 5px blue;
	padding: 5px 30px 20px 30px;
	text-align: center;
	background: linear-gradient(to right,rgb(28 25 52 / 83%), rgb(74 241 87 / 70%));
	font-style: times new roman;
	color: white;
}